/** Estructura **/
$colorNav: yellowgreen;
@media (min-width: 360px) and (max-width: 599px) {

    /*** General - Header ***/

    .caja {
        margin: 0 15px 0 0;
        width: 100%;
        height: 100%;
    }
    
    .cajaSub {
        margin: 10px 0 0 50px;
    }
    
    .sinPunto {
        list-style-type: none;
        font-size: 12px;
    }
    
    .borde {
        border: solid 3px;
        border-radius: 3px;
    }

    /* Main - Index */

    .boxLi {
        border: solid black;
        border-radius: 3px;
        color: $colorNav;
        width: 100px;
        padding: 10px 0 10px 0 ;
        margin: 5px 0 5px 0;
        text-align: center;
        font-size: 14px;
    }

    .marginNew {
        margin: 10px;
    }

    /*** productos ***/

    .divM {
        margin: 10px 0 0 30px;
    }

    /*** Productos Sin Tacc ***/

    .divM {
        margin: 30px;
    }
    .center {
        text-align: center;
        padding: 0 0 30px 0;
    }
    
    .marginFlex {
        margin: 0 0 0 5px;
    }

    /*** Contacto ***/

    .marginNa {
        margin: 5px 0 0 0px;
       }
       .marginE {
           margin: 5px 0 0 0px;
       }
       .marginC {
           margin: -15px 0 0 0;
       }
       .marginB {
           margin: 5px 0 0 00px;
       }
}

@media (min-width: 600px) and (max-width: 1199px) {

/*** General - Header ***/
  
.caja {
    margin: 0 15px 0 0;
    width: 100%;
    height: 100%;
}

.cajaSub {
    margin: 10px 0 0 50px;
}

.sinPunto {
    list-style-type: none;
    font-size: 12px;
}

.borde {
    border: solid 3px;
    border-radius: 3px;
}

/* Main - Index */

.boxLi {
    border: solid black;
    border-radius: 3px;
    color: $colorNav;
    width: 100px;
    padding: 10px 0 10px 0 ;
    text-align: center;
    font-size: 14px;
}

.marginNew {
    margin: 10px;
}

/*** productos ***/

.divM {
    margin: 10px 0 0 30px;
}

/*** Productos Sin Tacc ***/

.divM {
    margin: 30px;
}

.center {
    text-align: center;
    padding: 0 0 30px 0;
}

.marginFlex {
    margin: 0 0 0 5px;
}

/*** Contacto ***/

.marginNa {
    margin: 5px 0 0 0px;
   }
   .marginE {
       margin: 5px 0 0 0px;
   }
   .marginC {
       margin: -15px 0 0 0;
   }
   .marginB {
       margin: 5px 0 0 00px;
   }

}

@media (min-width: 1200px) {

/*** General - Header ***/

.caja {
    margin: 0 15px 0 0;
    width: 100%;
    height: 100%;
    text-shadow: 2px 2px 2px black;
}

.cajaSub {
    margin: 10px 0 0 100px;
}

.sinPunto {
    list-style-type: none;
}

.borde {
    border: solid 3px;
    border-radius: 3px;
}

/* Main - Index */

.boxLi {
    border: solid black;
    border-radius: 3px;
    color: $colorNav;
    font-style: 1.5rem;
    width: 150px;
    padding: 10px 0 10px 0 ;
    text-align: center;
}

.marginNew {
    margin: 10px;
}

/*** productos ***/

.divM {
    margin: 10px 0 0 60px;
}

/*** Productos Sin Tacc ***/

.divM {
    margin: 30px;
}

.center {
    text-align: center;
}

.marginFlex {
    margin: 0 0 0 5px;
}

/*** Contacto ***/

.marginNa {
    margin: 5px 0 0 0px;
   }
   .marginE {
       margin: 5px 0 0 0px;
   }
   .marginC {
       margin: -15px 0 0 0;
   }
   .marginB {
       margin: 5px 0 0 00px;
   }

/*** Quienes Somos ***/

.marginP1 {
    margin: 45px 0 10px 45px;
}
.marginP2 {
    margin: 100px 0 45px 45px;
}

}